<body class="background-attachment: fixed;" style="background:greenyellow;">

  <div class="wrapper" style="background: rgb(238, 255, 244);">

    <div class="mx-auto" style="width: 150px; " >
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSYx-lzq0Ab0LwNIci8SL1i4JIqxnYw0K-RbQdpDdrZg&s" alt="">
    </div>

    <div class="text-center mt-4 name" style="color: rgb(79, 139, 0);">
         Here! Reset Password
    </div>
    <form class="p-3 mt-3" [formGroup]=" studentForgotPass" (ngSubmit)="forgot()">


        <div class="form-field d-flex align-items-center">
          <span class="far fa-user"></span>
          <input type="email" name="emailId" id="emailId" placeholder="Email" formControlName="emailId">
      </div>

        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="password" placeholder="New Password" formControlName="password">
        </div>
        <div class="form-field d-flex align-items-center">
          <span class="fas fa-key"></span>
          <input type="password" name="cpassword" id="cpassword" placeholder="Confirm Password" formControlName="cpassword">
      </div>
        <button class="btn mt-3">Reset</button>
    </form>
    <div class="text-center fs-6">
      <label>GOTO</label>
      <a href="./signin" style="text-decoration: underline;">SIGNIN </a>
      <label>PAGE</label>
  </div>
  </div>
  </body>

