<div>
  <app-header></app-header>
  <div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXJr4ub304E9EzKD3h4VLmjF0RM3vRvHPcbg&usqp=CAU" alt="">

    </div>
    <marquee behavior="scroll" direction="left" ><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXJr4ub304E9EzKD3h4VLmjF0RM3vRvHPcbg&usqp=CAU" width="94" height="88" alt="Swimming fish" /></marquee>

  <marquee behavior="scroll" direction="left" ><h1 style="color: darkgreen;">WELCOME TO SAS PORTAL</h1></marquee>

  <marquee behavior="scroll" direction="right"><div style="background-color: chartreuse;" align="center"><h1>Sas College, Any Query,  Contact No:+91 7654321899</h1></div></marquee>
</div>
